<%= form_for(@movie, remote: true, :authenticity_token => true, html: { multipart: true }) do |f| %>
  <% if @movie.errors.any? %>
    <%= pluralize(@movie.errors.count, "error") %> prevent this movie from being submitted:
    <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>
  <div>
    <%= f.label :runtime_in_minutes %>
    <%= f.text_field :runtime_in_minutes %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :release_date %>
    <%= f.text_field :release_date %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
