<h1> Movies Index Here </h1>
<%= link_to "Submit a Movie!", new_movie_path %>
<div>
  <% @movies.each do |movie| %>
    <div style="float:left;">
      <div><%= link_to image_tag(movie.image.thumb.url), movie_path(movie) %></div>
      <div><%= link_to movie.title, movie_path(movie) %></div>
      <div><%= formatted_date(movie.release_date) %></div>
      <div><%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</div>
      <div><%= movie.description %></div>
      <div>Average Rating:<%= movie.review_average %>/10 </div>
    </div>
  <% end %>
</div>

<div style="height:10vh; clear:both;"></div>
<div>
  <%= render 'form' %>
</div>